$color-white: #ffffff;
$color-black: #000000;
$color-red: #b82025;
$color-text: #878a9d;
$color-grey: #939292;
$color-grey-light: #989898;
$color-blue: #008bff;
$color-blue-light: #1c96ff;

$color-white-2: #fbf8f5;
$color-white-3: #efefef;

$color-facebook: #3578e5;
$color-instagram: #000000;
$color-twitter: #21aced;
